services:
    database:
        image: mysql:8.0
        container_name: mysql
        environment:
         MYSQL_ROOT_PASSWORD: Rohit@123
         MYSQL_DATABASE: book_db
        volumes:
               - mysql_data:/var/lib/mysql
               - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
        restart: unless-stopped
    backend:
        image: heyrohhh/awbms-backend:latest
        ports: 
         - "9000:9000"
        restart: unless-stopped
        env_file:
         - .env
        depends_on:
           - database
    frontend:
       image: heyrohhh/awbmsfrontend:latest
       ports:
        - "80:80"
       depends_on:
        - backend
      
volumes:
  mysql_data: