name: awBms CD pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4     
      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and Push Backend
        run: |
          docker build -t heyrohhh/awbms-backend:v2 ./backend
          docker push heyrohhh/awbms-backend:v2
      - name: Build and Push Frontend
        run: |
          docker build -t heyrohhh/awbmsfrontend:v2 ./frontend
          docker push heyrohhh/awbmsfrontend:v2

      - name: Copy docker-compose and schema
        uses: appleboy/scp-action@v0.1.7
        with: 
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker-compose.yaml,database/schema.sql,nginx/conf/default.conf"
          target: "~/"
#ehhhh boiiiiii
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with: 
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/
            mkdir -p database 
            mv database/schema.sql ./database/schema.sql 2>/dev/null || true
            mkdir -p database nginx/conf certbot/conf certbot/www
            mv nginx/conf/default.conf ./nginx/conf/default.conf 2>/dev/null || true
            echo "DB_HOST=${{ secrets.DB_HOST }}" > .env
            echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
            echo "DB_USER=${{ secrets.DB_USER }}" >> .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "MYSQL_ROOT_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "MYSQL_DATABASE=${{ secrets.DB_NAME }}" >> .env
            docker-compose pull
            docker-compose up -d --remove-orphans
            docker image prune -f
            docker-compose restart nginx