name: awBms CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  backend-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build Backend
        working-directory: ./backend  
        run: |
          npm install
          npm run test

  frontend-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build Frontend
        working-directory: ./frontend 
        run: |
          npm install
          npm run build --if-present

      - name: Frontend Dummy Test
        working-directory: ./frontend
        run: echo "Skipping tests as no test script found in frontend"