name: ci pipeline

on:
 push:
  branches:
    - main
jobs:
  checkout-backend:
              runs-on: ubuntu-latest
              defaults:
                  run:
                    working-directory: ./backend
              steps:
                 - uses: actions/checkout@v4

                 - name: backend building
                   uses: actions/setup-node@v4
                   with:
                      node-version: 20
                      cache: 'npm'
                      cache-dependency-path: ./backend/package-lock.json
                 - name: install dependecies & audit scan
                   run: |
                     npm ci
                     npm audit --audit-level=moderate
                 - name: artifact for saving backend
                   uses: actions/upload-artifact@v4
                   with:
                     name: save build
                     path: ./backend
                 
#for frotned
  frontend-checkout: 
              runs-on: ubuntu-latest
              defaults:
                 run:
                   working-directory: ./frontend
              steps: 
                - uses: actions/checkout@v4
                - name: building frontend
                  uses: actions/setup-node@v4
                  with: 
                    node-version: 20
                    cache: 'npm'
                    cache-dependency-path: ./frontend/package-lock.json
                - name: install dependecies and run 
                  run: |
                      npm ci
                      npm run build --if-present
                      npm audit --audit-level=moderate
                - name: upload artifact
                  uses: actions/upload-artifact@v4
                  with:
                    path: ./frontend/dist 